#page-wrap{
	width:100%;
	height:100%;
	position: relative;
	padding-left:17.9%;
	aside#sidebar{
		position: fixed;
		overflow:hidden;
		z-index: 999;
		top:0;
		left:0;
		display: block;
		background-color: black;
		width:18%;
		height:100%;
	}
	.section{
		height:100%;
		width:100%;
		display: block;
		position: relative;
		background-color: red;
	}
}