aside{
	#contacts{
		@extend %full-width;
		padding: 0 8% 0 8%;
		@include abs-pos(auto,auto,7%,0);
		a{
			&:link, &:visited{
				@include opacity(.5);
			}
			&:hover, &:active{
				@include opacity(1);
			}
		}
		small a{
			display: block;
		}
	}
}
section.page-title{
	background-color:white;
	@extend %full-width;
	height: 27%;
	position: relative;
	div{
		@include vertical-align;
		text-align: center;
	}
}
section.banner{
	@extend %full-width;
	@include bg-cover;
	background-color: #ccc;
	height:36%;
}
section.content{
	background-color:$blue;
	@extend %full-width;
	@extend %clearfix;
	height:37%;
	.content-wrap{
		padding: 4% 3%;
		width:100%;
		height:100%;
		display: block;
		div.column{
			display: block;
			height:100%;
			border-left:1px solid white;
			float:left;
			width:33.33%;
			padding:1% 3%;
		}
	}
}
.button{
	height:48px;
	line-height: 48px;
	display:inline-block;
	border:1px solid white;
	padding: 0 71px 0 21px;
	text-align:left;
	color: white;
	font-family: $proximanova-bold;
	text-transform:uppercase;
	position:relative;
	.caption &{
		height:66px;
		line-height: 66px;
		padding: 0 74px;
	}
	//@include rgba-bg(0,0,0,#000000,.3);
	@include font-size(16);
	&:after{
		content:"";
		display: block;
		width:36px;
		height:13px;
		background:url('../images/arrow.png') left top no-repeat;
		@include abs-pos(50%,16px,auto,auto);
		margin-top:-6px;
	}
}
.underline{
	&:after{
		content:"";
		display: block;
		width:70px;
		height: 2px;
		background-color: white;
		margin: 30px auto 0;
		.caption &{
			margin: 50px auto 40px;	
		}
		.blue &{
			background-color: $blue;
		}
	}
}
a.scroll{
	display:inline-block;
	@include font-size(16);
	color: white;
	font-family: $proximanova-bold;
	text-transform: uppercase;
	text-align: center;
	width:80px;
	height: auto;
	padding:56px 0 0;
	@include abs-pos(auto,auto,6%,50%);
	margin-left:-40px;
	z-index:998;
	&:before{
		content:"";
		width:22px;
		height:48px;
		display: block;
		@include abs-pos(0,auto,auto,50%);
		margin-left:-11px;
		background: url('../images/scroll-icon.png');
	}
}