header#header{
	position: fixed;
	z-index: 999;
	@extend %full-width;
	padding: 30px 30px 0;
	top:0;
	left:0;
	background-color: transparent;
	@extend %clearfix;
	#home-link{
		width: 115px;
		height: 77px;
		display: block;
		float: right;
		margin:0;
		img{
			@include fit-grid(width);
		}
	}
}