header#header{
	position: fixed;
	z-index: 998;
	top:0;
	left:0;
	display: block;
	background-color: black;
	width:18%;
	height:100%;
	overflow:visible;
	@media screen and (max-width: $break-large){
		//width:23%;
	}
	@media screen and (max-width: $break-medium){
		width:50px;
	}
	@media screen and (max-width: $break-small){
		width:100%;
		min-height:70px;
		padding:70px 0 0;
		height: auto;
		position:relative;

	}
	#contacts{
		@extend %full-width;
		padding: 0 8% 0 8%;
		display: block;
		@include abs-pos(auto,auto,7%,0);
		a{
			&:link, &:visited{
				@include opacity(.5);
			}
			&:hover, &:active{
				@include opacity(1);
			}
		}
		small{
			a{
				display: block;
				color: white;
			}
		}
		@media screen and (max-width: $break-xlarge){
				display: none;
			}

	}
	&.expanded{
		padding-bottom: 140px;
		#contacts{
			display: block;
		}
	}
	a#mobile-menu{
    	display: none;
    	width:40px;
    	height:27px;
    	@extend %ir;
    	background:url('../images/mobile-menu-small.png') center center no-repeat;
    	//background-size: 30px 20px;
    	display: none;
    	@include abs-pos(13px,auto,auto,10px);
    	@media screen and (max-width: $break-medium){
    		display: block;
    		width:30px;
    		height:20px;
    	}
    	@media screen and (max-width: $break-small){
    		width:35px;
    		height:23px;
    		background:url('../images/mobile-menu.png') center center no-repeat;
    		background-size:100% auto;
    		@include abs-pos(24px,auto,auto,20px);
    	}
    	&.active{
    		background:url('../images/close-btn-small.png') center center no-repeat;
    		//background-size: 25px 25px;
    	}
    }
}
#home-link{
	position: fixed;
	z-index:999;
	width: 115px;
	height: 77px;
	display: block;
	right:30px;
	top:30px;
	margin:0;
	img{
		@include fit-grid(width);
	}
	@media screen and (max-width: $break-large){
		top:13px;
		right:30px;
		width:86px;
		height:58px;
	}
	@media screen and (max-width: $break-small){
		width:66px;
		height:45px;
		right:20px;
		top:15px;
	}
}