nav#nav{
	@include wp-current-page-links{
		background-color: $blue;
	}
    @extend %full-width;
    @include vertical-align;
	ul{
		li{
			a{
				@include font-size(18);
				font-family: $proximanova-semibold;
				color: white;
				text-transform: uppercase;
				padding: 0 0 0 8%;
				line-height: 45px;
				height:40px;
				display: block;
				span{
					height: 100%;
					display: block;
				}
				&:link,&:visited{

				}
				&:hover{
					@include rgba-bg(255,255,255,#FFFFFF,$opacity:0.2);
				}
				&:active{
					background-color: $blue;
				}
			}
		}
	}
}
nav#social{
	@include inline-menu;
	@extend %clearfix;
	margin-bottom:20px;
	li{
		margin: 0 8px 0 0;
		a{
			display: block;
			width: 19px;
			height: 19px;
			@extend %ir;
			background-image:url('../images/facebook.png');
			background-position:0 0;
			background-repeat: no-repeat;
			background-size: 19px 19px;
			&.twitter{
				background-image:url('../images/twitter.png');	
			}
			&.linkedin{
				background-image:url('../images/linkedin.png');	
			}
			&.email{
				background-image:url('../images/email.png');	
			}
		}
	}
}