h1,h2,h3,h4,h5{
	font-family: $proximanova-bold;
	text-transform:uppercase;
	@include font-size(46);
	color: $blue;
	font-weight:normal;
	line-height:90%;
	margin: 0 0 10px;
}
h2,h4{
	font-family: $georgia;
	color: $grey;
	@include font-size(18);
	text-transform: none;
	font-style:italic;
}
h3{
	@include font-size(24);
	color: white;
	margin-bottom:16px;
}
h4{
	@include font-size(14);
	color: white;
	line-height: 120%;
}
a{
	text-decoration: none;
	@include transition(all 0.3s ease-in-out);
	&:link,&:visited{
		color:$blue;
	}
	&:hover,&:active{
		color: $grey;
	}
}
small{
	@include font-size(14);
	display:block;
}
p{
	margin-bottom: 30px;
}
address{
	font-style:normal;
	margin-bottom: 3px;
}