h1,h2,h3,h4,h5{
	font-family: $proximanova-bold;
	text-transform:uppercase;
	@include font-size(46);
	color: $blue;
	font-weight:normal;
	line-height:76%;
	margin: 0 0 10px;
}
h2,h4{
	font-family: $georgia;
	color: $grey;
	@include font-size(18);
	text-transform: none;
	font-style:italic;
}
h3{
	@include font-size(24);
	color: white;
	margin-bottom:26px;
}
h4{
	@include font-size(14);
	color: white;
}
a{
	text-decoration: none;
	@include transition(all 0.3s ease-in-out);
	&:link,&:visited{
		color:white;
	}
	&:hover,&:active{

	}
}
small{
	@include font-size(14);
}
p{
	margin-bottom: 30px;
}