h1,h2,h3,h4,h5{
	@include font-size(34);
	line-height: 100%;
	margin: 0 0 20px;
	font-family: $varela;
	font-weight:400;
	color: $grey;
	text-transform: uppercase;
	span{
		color: $brown;
	}
}
h1,h2{
	em{
		font-style: normal;
		color:$brown;
		@media screen and (max-width: $break-small){
			
	}
	}
	.blue & em{
		color: $blue;
	}
	.orange & em{
		color: $orange;
	}
	.green & em{
		color: $green;
	}
	.pink & em{
		color: $pink;
	}
}
h1{
	@media screen and (max-width: $break-medium+1) {
		@include font-size(30);
	}

}
h3{
	@include font-size(18);
	margin-bottom:5px;
	//margin-top:5px;
	font-weight:600;
	@media screen and (max-width: $break-medium+1) {
		@include font-size(15);
	}
}
h4{
	@include font-size(13);
	text-transform: none;
}
p{
	margin-bottom: 16px;
	@media screen and (max-width: $break-medium+1) {
		margin-bottom: 12px;
	}
}
figcaption,
blockquote p{
	@include font-size(38);
	font-family:$varela;
	line-height:120%;
	font-style:italic;
	margin-bottom:20px;
	color: $grey;
	strong{
		font-weight: 600;
	}
}
a{
	@include transition (color 0.2s ease-in-out);
	&:link,&:visited{

	}
	&:hover, &:active{
		color:$brown;
	}
}
