html,body{
	width:100%;
	height:100%;
	@media screen and (max-width: $break-small){
		overflow-x: hidden;
	}
}
html{
	font-size: 62.5%;
}
body{
	font-family: $proximanova-regular;
	@include font-size(18);
	color: white;
}
