ul#enlightenment{
	margin:0 1%;
	width:98%;
	@media screen and (max-width: $break-small){
		margin:0 4%;
		width:92%;
	}
	li{
		float:left;
		width:30.6666%;
		display: block;
		border: 12px solid $light-grey;
		background-color: white;
		color: $grey;
		margin: 0 0 2%;
		@media screen and (max-width: $break-large){
			width: 47%;
		}
		@media screen and (max-width: $break-small){
			width:100%;
			margin: 0 0 4%;
		}
		figure{
			img{
				@include fit-grid(width);
				display: block;
			}
		}
		figcaption{
			padding: 4% 4% 6%;
			h4{
				color: $grey;
				font-family: $proximanova-bold;
				font-style: normal;
				@include font-size(16);
				margin-bottom: 4px;
			}
			p{
				margin-bottom: 0;
			}
		}
	}
}