section#home{
	@include bg-cover;
}
.bg-overlay{
	@include abs-pos(0,0,0,0);
	z-index: 996;
	@include rgba-bg(0,0,0,#000000,.6);
}
.caption{
	text-align:center;
	position: relative;
	@include vertical-align;
	z-index: 997;
	div{
		display: inline-block;
		margin:0 auto;
	}
	h2{
		display:block;
		@include font-size(54);
		color: white; 
		font-style: normal;
		text-transform: uppercase;
		font-family: $proximanova-bold;
		line-height: 85%;
		text-align: left;
	}
}