ul#featured-work{
	li{
		width:33.33%;
		float:left;
		position: relative;
		&:after{
			content:"";
			padding-top:68%;
			display: inline-block;
		}
		figure{
			@include abs-pos(0,0,0,0);
			text-align: center;
			background-size: 100% auto;
			background-position: center center;
			background-repeat:no-repeat;
			@include transition(background-size 0.2s ease);
			&:hover,&:active{
				background-size: 120% auto;
				figcaption{
					@include opacity(1);
				}
			}
			figcaption{
				text-align: center;
				display: block;
				width:100%;
				height: 100%;
				@include opacity(0);
				@include transition(opacity 0.2s ease);
				@include rgba-bg(0,0,0,#000000,.82);
				a{
					display: block;
					width: 100%;
					height: 100%;
				}
				div{
					@include vertical-align;
					h3{
						@include font-size(18);
						margin-bottom:10px; 
					}
					h4{
						@include font-size(16);
						color: white;
						margin-bottom: 35px;
					}
				}
			}
		}
	}
}
#work-single{
	padding-top:50vh;
	.page-title{
		position: fixed;
		width: 100%;
		left:0;
		top:0;
		z-index: 997;

		div{
			@extend %preserve-3d;
			padding-left:17.9%;

		}
		h1{
			width: 28%;
			display: inline-block;
			img{
				@include fit-grid(width);
			}
		}
	}
	.content{
		background-color: white;
		position: relative;
		z-index: 998;
		.intro{
			padding: 6% 12%;
			text-align: center;
			@extend %full-width;
			h3{
				@include font-size(44);
				margin-bottom: 4px;
			}
			h4{
				@include font-size(18);
				margin-bottom: 50px;
			}
		}
		footer{
			&.intro{
				h3{
					margin-bottom: 30px;
				}
				h4{
					padding: 0 20%;
				}
			}
		}
		section{
			@extend %clearfix;
		}
	}
}
.column{
	float:left;
	display: block;
	width:100%;
	height:100%;
	.cell{
		display: block;
		width: 100%;
		position: relative;
		color: white;
		@include bg-cover;
		&:before{
			content:"";
			display: block;
			padding-top: 70%;
		}
		.inner{
			@include abs-pos(0,0,0,0);
			div{
				@include vertical-align;
				text-align: center;
				padding:0 14%;
				p{
					text-align: left;
				}
			}
		}
		h5{
			@include font-size(34);
			color: white;
			font-family: $proximanova-bold;
			text-transform: uppercase;
			margin-bottom: 40px;
		}
	}
	&.half{
		width:50%;
		.cell{
			&:before{
				padding-top:140%;
			}
			&.half-height{
				&:before{
					padding-top:70%;
				}
			}
		}
	}
}

nav#categories{
	@extend %clearfix;
	@include centered-menu;
	margin-bottom: 40px;
	li{
		margin: 0 20px;
	}
	a{
		display: block;
		height:40px;
		width:50px;
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('../images/brand-strategy-icon-blue.png');
		@extend %ir;
		&.print{
			background-image: url('../images/print-icon-blue.png');
		}
		&.creative{
			background-image: url('../images/creative-icon-blue.png');
		}
		&.direct-marketing{
			background-image: url('../images/direct-marketing-icon-blue.png');
		}
	}

}
nav#social-share{
	@extend %clearfix;
	@include centered-menu;
	span{
		display: block;
		margin:10px auto 10px;
		font-family: $georgia;
		font-style: italic;
		@include font-size(16);
	}
	li{
		margin:0 4px;
		a{
			width:30px;
			height: 30px;
			@extend %ir;
			display: block;
			background-size: 30px 30px;
			background-image:url('../images/facebook-share.png');
			background-position: center center;
			background-repeat: no-repeat;
			&.twitter{
				background-image:url('../images/twitter-share.png');
			}
			&.email{
				background-image:url('../images/email-share.png');
			}
		}
	}
}