nav#sectors{
	display: block;
	width:100%;
	height:100%;
	@media screen and (max-width: $break-small){
		//height:400px;
	}
	.close{
		display: block;
		width:60px;
		height:60px;
		@extend %ir;
		background: $blue url('../images/close.png') center center no-repeat;
		@include abs-pos(0,0,auto,auto);
		z-index: 998;
		&:hover,&:active{
			@include opacity(1);
		}
	}
	.underline{
		&:after{
			width: 30px;	
			margin: 20px auto 0;
		}
	}
	ul{
		z-index: 999;
		position: relative;
		@extend %full-width;
		@extend %clearfix;
		margin:0;
		height:100%;
		display: block;
		li.item{
			width:100%;
			display: block;
			height:100%;
			margin:0;
			background-color:$blue;
			@include abs-pos(0,auto,auto,0);
			.handle,.main,aside{
				float: left;
				@media screen and (max-width: $break-small){
					float:none;
				}
			}
			@media screen and (max-width: $break-small){
				position: relative;
			}
			.handle{
				@include transition(background-color 0.3s ease-in-out);
				border-right:1px solid rgba(255,255,255,.4);
				width:20%;
				height:100%;
				padding:0 15px;
				&:last-child{
					border-right: none;
				}
				&.hover{
					cursor:pointer;
					&:hover,&:active{
						background-color: darken($blue,5);
					}
				}
				@media screen and (max-width: $break-small){
					width:100%;
					height:200px;
					border-top:1px solid rgba(255,255,255,.4);
					border-bottom:0;
					border-right:none;
				}
				div{
					@extend %full-width;
					@include vertical-align;
					text-align: center;
					padding:110px 0 0;
					position: relative;
					@media screen and (max-width: $break-xlarge){
						padding-top: 86px;
					}
					@media screen and (max-width: $break-small){
						padding-top: 95px;
					}
					h3{
						margin-bottom: 8px;
						@include font-size(20);
						@media screen and (max-width: $break-xlarge){
							height:35px;
							@include font-size(18);
							span{
								display: block;
								@include vertical-align;
								@media screen and (max-width: $break-small){
									transform: none;
									top:0;
								}
							}
						}
						@media screen and (max-width: $break-small){
							height: auto;
							margin-bottom: 2px;
						}
					}
					&:before{
						content:"";
						width:90px;
						height:90px;
						display: block;
						@include abs-pos(0,auto,auto,50%);
						margin-left:-45px;
						background-image:url('../images/brand-strategy-icon.png');
						background-position: center center;
						background-repeat:no-repeat;
						@media screen and (min-width: $break-small+1) and (max-width: $break-xlarge){
							background-size:(60px 52px);
						}
					}
				}
			}
			&.creative{
				left:20%;
				@media screen and (max-width: $break-small){
					left:0;
				}
				div{
					&:before{
						background-image:url('../images/creative-icon.png');
					}
				}
			}
			&.print{
				left:40%;
				@media screen and (max-width: $break-small){
					left:0;
				}
				div{
					&:before{
						background-image:url('../images/print-icon.png');
					}
				}
			}
			&.dm{
				left:60%;
				@media screen and (max-width: $break-small){
					left:0;
				}
				div{
					&:before{
						background-image:url('../images/direct-marketing-icon.png');
					}
				}
			}
			&.digital{
				left:80%;
				@media screen and (max-width: $break-small){
					left:0;
				}
				div{
					&:before{
						background-image:url('../images/digital-icon.png');
					}
				}
			}	
			.main,aside{
				width:60%;
				height:100%;
				display: block;
				padding: 4% 3%;
				border-left:1px solid white;
				@include opacity(0);
				@media screen and (max-width: $break-small){
					@include opacity(1);
					display: none;
					width:100%;
					padding: 5%;
					border:0;
				}
			}
			aside{
				width: 20%;
				@media screen and (max-width: $break-small){
					width: 100%;
					border-bottom:1px solid white;
				}
				ul{
					li{
						padding-left:30px;
						margin-bottom: 5px;
						position:relative;
						&:before{
							content:"";
							width:15px;
							height:16px;
							display: block;
							background:url('../images/tick.png') center center no-repeat;
							@include abs-pos(2px,auto,auto,0);
						}
					}
				}
			}
		}	
	}
}