#page-wrap{
	//padding:0 0 0 239px;
	width:100%;
	height:100%;
	position: relative;
	@media screen and (max-width: $break-small){
		height:auto;
	}
	main{
		padding:0 0 0 239px;
		width:100%;
		height:100%;
		@include opacity(0);
		@media screen and (max-width: $break-xlarge){
			padding-left: 199px;
		}
		@media screen and (max-width: $break-large){
			padding-left: 48px;
		}
		@media screen and (max-width: $break-small){
			padding-left: 0;
			height:auto;
		}
	}
	.section{
		height:100%;
		width:100%;
		display: block;
		position: relative;
		z-index: 997;
		&.scrollable{
			height: auto !important;
		}
		&.enlightenment{
			height:auto !important;
			overflow: visible !important;
		}
		@media screen and (max-width: $break-small){
			height: auto;
		}
		&#home{
			@media screen and (max-width: $break-small){
				height: 500px;
			}	
		}
	}
}
#overlay{
	display: block;
	width:100%;
	height:100%;
	@include opacity(.8);
	background-color: white;
	z-index: 99999;
	position: relative;
}
.scroll-area{
	position: relative;
	width:100%;
    height: 771px; 
    @media screen and (max-width: $break-small){
    	height:auto;
    }
    overflow: hidden;
}