nav#nav{
	display:block;
	@include wp-current-page-links{
		background-color: transparent;
	}
    @extend %full-width;
    @include vertical-align;
    @media screen and (max-width: $break-large){
    	display: none;
    }
    @media screen and (max-width: $break-small){
    	position: relative;
    	transform: none;
    	//@include rgba-bg(39,39,41,$dark-grey,.9);
    	background-color: transparent;
    	top:0;
    	//display: block;
    }
    position:relative;
    .highlight{
    	@include abs-pos(0,auto,auto,0);
    	display: block;
    	width: 100%;
    	height:40px;
    	background-color: $blue;
    	z-index: 1;
    	@media screen and (max-width: $break-xlarge){
    		height:36px;
    	}
    }
	ul{
		position:relative;
		z-index: 2;
		li{
			a{
				@include font-size(18);
				font-family: $proximanova-semibold;
				color: white;
				text-transform: uppercase;
				padding: 0 0 0 8%;
				line-height: 45px;
				height:40px;
				display: block;
				span{
					height: 100%;
					display: block;
				}
				&:link,&:visited{

				}
				&:hover{
					@include rgba-bg(255,255,255,#FFFFFF,$opacity:0.2);
				}
				&:active{
					background-color: $blue;
				}
				@media screen and (max-width: $break-xlarge){
    				@include font-size(16);
    				height:36px;
    				line-height:41px;
   				}
			}
		}
	}
}
nav.social{
	@include inline-menu;
	@extend %clearfix;
	margin-bottom:20px;
	li{
		margin: 0 8px 0 0;
		a{
			display: block;
			width: 19px;
			height: 19px;
			@extend %ir;
			background-image:url('../images/facebook.png');
			background-position:0 0;
			background-repeat: no-repeat;
			background-size: 19px 19px;
			&.twitter{
				background-image:url('../images/twitter.png');	
			}
			&.linkedin{
				background-image:url('../images/linkedin.png');	
			}
			&.email{
				background-image:url('../images/email.png');	
			}
		}
	}
}